<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>419508439809-1jk21k8t865mnp48rlaqs8r5filsvu5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419508439809-1jk21k8t865mnp48rlaqs8r5filsvu5l</string>
	<key>API_KEY</key>
	<string>AIzaSyChXRm53G3dHnFY996G4chVeTdYRbHjbFk</string>
	<key>GCM_SENDER_ID</key>
	<string>419508439809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myMarket</string>
	<key>PROJECT_ID</key>
	<string>my-market-b8b17</string>
	<key>STORAGE_BUCKET</key>
	<string>my-market-b8b17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419508439809:ios:dbf87fcf956d0395846900</string>
</dict>
</plist>